{% extends "base.html" %}
{% block body %}
<div class="container">
	<div class="page-header"><h1>修改密码</h1></div>
	<div class="row">
		<div class="col-md-3">
			{% if get_flashed_messages() %}
			<div class="alert alert-success alert-dismissible in fade" role="alert">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				{{get_flashed_messages()[0]}}
 		    </div>
 		    {% elif form.errors %} 		     
		    <div class="alert alert-danger alert-dismissible in fade" role="alert">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				{% with error = form.errors.oldpassword or form.errors.newpassword %}
				 {{error[0]}}
				{% endwith %}
 		    </div>				
 		    {% endif %}
			<form action="" method="post">
				{{ form.hidden_tag()}}
				<div class="form-group">
					<label for="old-password">Old Password</label>
					{{form.oldpassword(class='form-control',id='old-password',palceholder='Password')}}
				</div>
				<div class="form-group">
					<label for="new-password">New Password</label>
					{{form.newpassword(class='form-control',id='new-password',palceholder='New Password')}}
				</div>
				<div class="form-group">
					<label for="register-password2">Confirm Password</label>
					{{form.newpassword2(class='form-control',id='register-password2',palceholder='Password agin')}}
				</div>
				<button type="submit" class="btn btn-default">Save</button>
			</form>
		</div>
	</div>
	
</div>
{% endblock %}