{% extends "base.html" %}
{%import "_macros.html" as macros%}
{% block style %}
	{{super()}}
{% endblock %}
{% block body %}
<div class="container">
	<div class="page-header"><h1>Edit Post</h1></div>
	<form action="" method="Post">
	{{ form.hidden_tag()}}
		<div class="form-group">
			{{form.body(class='form-control',rows='6')}}
		</div>
		<button type="submit" class="btn btn-default">提交</button>
	</form>
</div>
{% endblock %}
{% block script %}
	{{super()}}
	{{pagedown.include_pagedown()}}
{% endblock %}